aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.8.0
async-timeout==5.0.1
asyncio==3.4.3
asyncpg==0.30.0
attrs==25.3.0
audioop-lts==0.2.2
beautifulsoup4==4.13.3
blinker==1.9.0
braceexpand==0.1.7
cachetools==5.5.2
cairocffi==1.6.1
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
deep-translator==1.11.4
discord-ios==1.1.1
discord.py==2.6.0
distro==1.9.0
emoji==2.14.1
exceptiongroup==1.2.2
fastapi==0.115.13
Flask==3.1.0
frozenlist==1.7.0
fuzzywuzzy==0.18.0
giphy_client==1.0.0
google-api-core==2.24.2
google-api-python-client==2.166.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.69.2
googlesearch-python==1.3.0
greenlet==3.2.3
h11==0.14.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
idna==3.10
import_expression==2.2.1.post1
importlib_metadata==8.6.1
itsdangerous==2.2.0
Jinja2==3.1.6
jishaku==2.6.0
jiter==0.9.0
Levenshtein==0.27.1
MarkupSafe==3.0.2
mpmath==1.3.0
multidict==6.5.0
numpy==2.3.2
openai==1.69.0
outcome==1.3.0.post0
packaging==24.2
pandas==2.3.0
pillow==11.1.0
playwright==1.54.0
propcache==0.3.2
proto-plus==1.26.1
protobuf==6.30.2
psutil==7.0.0
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.11.0
pydantic_core==2.33.0
pyee==13.0.0
pyfiglet==1.0.3
pylast==5.5.0
PyNaCl==1.5.0
pyparsing==3.2.3
pyperclip==1.9.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-Levenshtein==0.27.1
python-magic==0.4.27
python-multipart==0.0.20
pytz==2025.1
RapidFuzz==3.13.0
redis==6.2.0
requests==2.32.4
rsa==4.9
selenium==4.29.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SpeechRecognition==3.14.2
spotipy==2.25.1
sprite==0.1.0
SQLAlchemy==2.0.39
standard-aifc==3.13.0
standard-chunk==3.13.0
starlette==0.46.2
sympy==1.14.0
tabulate==0.9.0
tenorpy==1.0.4
tqdm==4.67.1
trio==0.29.0
trio-websocket==0.12.2
type-extensions==0.1.2
typing-inspection==0.4.0
typing_extensions==4.14.0
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.5.0
uvicorn==0.34.3
uwuipy @ git+https://github.com/EvictServices/uwuipy.git@adf75561a73a974b2f2e9cfe4a762b8af4eba684
webcolors==24.11.1
webdriver-manager==4.0.2
websocket-client==1.8.0
Werkzeug==3.1.3
wsproto==1.2.0
yarl==1.20.1
yt-dlp==2025.2.19
zipp==3.21.0
